body {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.DIV1 {
  text-align: center;
  border: solid 10px;
  border-color:#F4C5FF;
  color: #7D7E80;
  font-family: 'Baloo Da', cursive;
  font-size: 20px;
}

.DIV2 {
  text-align: center;
  display: inline-block;
  font-family: 'Amatic SC', cursive;
  color: #7D7E80;
  font-size: 30px;
}
.DIV3 {
  text-align:center;

}


section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  display: flex;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 5px;
}

img {
  object-fit: cover;
  width: 260px;
  height: 200px;
}

@media screen and (max-width: 1030px){
  section {
padding-left:5px;
  }
}

@media screen and (max-width: 700px) {
  article {
    padding left: 20px;
  }
}
